# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual environments
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

.*cache

# Coverage artefacts
.coverage
.coverage.*
htmlcov/
coverage.xml



# Beads / Dolt files (added by bd init)
scripts/ralph